<%= form_with(model: clause_master, local: true) do |form| %>
  <% if clause_master.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clause_master.errors.count, "error") %> prohibited this clause_master from being saved:</h2>

      <ul>
      <% clause_master.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :clauseID %><br />
    <%= form.text_field :id, disabled: true %>
  </div>

  <div class="field">
    <%= form.label :clause_name %><br />
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :content %><br />
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :note %><br />
    <%= form.text_field :note %>
  </div>

  <div class="actions">
    <%= form.submit "History", name: "history" %>
    <%= form.submit "Save" %>
    <%= form.submit "Cancel", name: "cancel" %>
  </div>
<% end %>
