<p id="notice"><%= notice %></p>

<%= link_to "Add new", new_clause_master_path %>

<table>
  <thead>
    <tr>
      <th>#</th>
      <th>Clause name</th>
      <th>Note</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @clause_masters.each do |clause_master| %>
      <tr>
        <td><%= clause_master.id %></td>
        <td><%= clause_master.name %></td>
        <td><%= clause_master.note %></td>
        <td><%= clause_master.status %></td>
        <td><%= link_to 'Duplicate' %></td>
        <td><%= link_to 'Edit', edit_clause_master_path(clause_master) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
